# Data Cleaning - Làm sạch Dữ liệu

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from IPython import display
from scipy import stats
import warnings

warnings.filterwarnings("ignore")

## Tổng quan các Bảng dữ liệu

In [6]:
appid_info = pd.read_csv('../raw/appid_info.csv')
transaction = pd.read_csv('../raw/transaction.csv')
campaign_info = pd.read_csv('../raw/campaign_info.csv')
map_card = pd.read_csv('../raw/map_card.csv')
referral_history = pd.read_csv('../raw/referral_history.csv')
transfer = pd.read_csv('../raw/transfer.csv')
user_profile = pd.read_csv('../raw/user_profile.csv')

In [7]:
appid_info

      appID             appName       reportCat      reportSubCat
0       451  Enns ymtbn ywd xfz           Telco          Postpaid
1       124              Kfmfxf          Retail          Bookshop
2       747      VWUfd QTYYJWNF             FnB         Fast food
3      1349        EnslUqfd NHf            Game          ZingPlay
4        15             Irhm Ar            Game          Game VNG
...     ...                 ...             ...               ...
1099  36732    MTWTXHTUJ HTKKJJ             FnB   Beverage Stores
1100  36742      YWTS YWNF VZFS             FnB   Beverage Stores
1101  36738        HZUZU HTKKJJ             FnB       Food Stores
1102  36748  MFQJJ HTKKJJ & YJF             FnB   Beverage Stores
1103  36725  RNSM PMFSL RTGNQJJ  Other Services  Digital Services

[1104 rows x 4 columns]

In [8]:
transaction

,transID,userID,appID,transStatus,deviceID,platform,osVer,deviceModel,userChargeAmount,amount,reqDate,campaignID,discountAmount,cashbackTime
0,2b60a070e297782422257f96ec001e1d,b4cd6bf6334153f048a824fd8c832c06,NaN,1,NaN,NaN,NaN,NaN,0,50000,2022-03-02 00:00:00,9080,50000,2022-03-02 00:00:00
1,83f7f779d15c7d64e30197c472e81219,c69b7376c04ace223a597bb495b6433d,NaN,1,NaN,NaN,NaN,NaN,0,50000,2022-03-02 00:00:00,9080,50000,2022-03-02 00:00:00
2,c3a55d5a75e4eda4a1c9f1817b6f59f5,2a11b577bfde798dce593467ff6c8472,NaN,1,NaN,NaN,NaN,NaN,0,50000,2022-03-02 00:00:00,9080,50000,2022-03-02 00:00:00
3,5660d432965c9081fca164590b86d4e9,898f3699816f0ed166aa5d0c40393cb2,NaN,1,NaN,NaN,NaN,NaN,0,50000,2022-03-02 00:00:00,9080,50000,2022-03-02 00:00:00
4,42bddb3b489c9cf2a795e315a0cf4cbe,d1f55da25d8313b0221f513e62e81cc2,15.0,1,8A3E7FFF-87D0-4513-9F5E-D2F6A5DE60FA,platform1,NaN,"nUmtsj60,8",495000,500000,2022-03-02 00:01:01,8901,5000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357400,319c7d437de329fdf7e734dae1fcfbc9,b9bab616c0289035af66278ca7c6651a,12.0,1,D189A8C4AB98337A7071E9FD461313BC,platform3,NaN,NaN,10000,10000,2022-05-31 23:57:48,0,0,NaN
1357401,b6cf5bf28ae7f52964c6876d4ec9022e,cf0bfb6806a1e98fcae3b0865053d697,748.0,1,NaN,platform1,NaN,NaN,235900,235900,2022-05-31 23:58:04,0,0,NaN
1357402,1a352cadeebce8e075f739b27aa1653b,6466a8119bf99d37314d9f39264a4fbd,748.0,1,NaN,platform1,NaN,NaN,39206,39206,2022-05-31 23:58:26,0,0,NaN
1357403,d683840d76af3e97b29ef09321224dbb,8282c347c6593b49e45b621d46b10647,61.0,1,09F5A3E9-CEED-4E5C-84C7-167E2A3AFAC4,platform1,NaN,"nUmtsj2,6",100000,100000,2022-05-31 23:58:56,0,0,NaN
1357404,c13e09d73c5ceda953cd07aa748cf860,3e8e8cb94dc37892b55208e5570d79a4,NaN,1,NaN,NaN,NaN,NaN,0,0,2022-05-31 23:59:36,12081,55,2022-05-31 23:59:36

In [9]:
campaign_info

,campaignID,promotionName,campaignCode,promotion_type
0,8907,[ZPI_220801_115][MAP_RW_NMU][Liên kết ngân hàn...,ZPI_220801_115,voucher
1,8945,[ZPI_220801_115][MAP_RW_NMU][Liên kết ngân hàn...,ZPI_220801_115,voucher
2,11937,[MKT_210507_717][LOY_CV_MPU][Reward Store]McDo...,MKT_210507_717,voucher
3,11991,[MKT_230512_485][BAU_AT_MPU][Checkin OTA Home_...,MKT_230512_485,voucher
4,11193,[MKT_220418_982][Open Account STB on ZaloPay]G...,MKT_220418_982,voucher
...,...,...,...,...
837,11916,[MKT_230508_475][BAU_WL_FPU][Whilelist_Combo v...,MKT_230508_475,voucher
838,11255,[MKT_230301_375][BAU_CB_MPU][Topup/Buy Card Fi...,MKT_230301_375,cashback
839,11737,[ZMP_230418_185][RET_WL_RPU][Netflix_CB_50k@70k],ZMP_230418_185,cashback
840,11613,[MKT_210507_717][LOY_CV_MAU][Flashsale 19/04-G...,MKT_210507_717,voucher
841,11657,[ZMP_230405_178][BAU_WL_FPU][Google Play _VC_1...,ZMP_230405_178,voucher

In [10]:
map_card

,userID,bimID,bankname,reqDate,requestID,requestStatus
0,e73fa006428f6cdc229d9316b604c0f4,dc3ae316408c44461b5ec63aebf17b29,GNIA,2022-03-02 00:02:04,7f5e96b78ddd353e1fee17a3ebe69bbe,1
1,964b983d5a5784eba146d70e0e34b544,c56d419c970edbbb2dd4ff75d3a419fd,"Rfxyjw Hfwi, Anxf Hfwi, OHG",2022-03-02 00:02:49,c1ee2d7cd4e9f9b82917e954102c1389,-275
2,f64c218f0f32d88aaa7263e33eafc05a,c832904192e27c414d16024fbffcbfde,YUGfsp,2022-03-02 00:18:25,ccd1fab0eff8b5be89bb7d42512b5ce0,-312
3,5da851607b325ed89e9bf6cc9f087a58,ac0514d763cdf5b9484ac1ea7f129fb9,Anjyhtrgfsp,2022-03-02 00:18:28,d1bc36169497eb069ec2cf08db1aa047,-312
4,5da851607b325ed89e9bf6cc9f087a58,3efc7e2379add99e17ec2fcc55570556,Anjyhtrgfsp,2022-03-02 00:18:53,adf4155017ce0008222c1866522383c6,1
...,...,...,...,...,...,...
163286,0662022a22a6b545ec88e5b991d7f464,3f221a55f9877159ff697b99e6e39456,Anjyhtrgfsp,2022-05-31 23:48:56,fcc4e98416762d55dcda7960052aa516,1
163287,12717c38c7da4175b8ec5fe98cfe1b98,01b0f24a748523ec38ab0181bbae942f,GNIA,2022-05-31 23:51:20,23c066116bee36b3a78e44278e48b625,-312
163288,cbfd2f80177a0db6d98a56b67a96ae90,c2caabbd52b5952272cf8c5e8aaed273,THG,2022-05-31 23:54:18,094e53b6690c367ecf41203e06430783,-312
163289,cbfd2f80177a0db6d98a56b67a96ae90,c2caabbd52b5952272cf8c5e8aaed273,THG,2022-05-31 23:54:59,c32b94225e0e7282513a919695417ca1,1
163290,9679b127c9082f443d2aeaf1da6f0d11,d47ffd1be8790b62e12801799e09da4d,Xfhtrgfsp,2022-05-31 23:56:42,ff8fc5d0a5c6cb9ae246975bdd43d28f,1

In [11]:
referral_history

,userID,refereeId,reqDate
0,70ba4ffcc0c22d810444a714ce76549a,a646be9328f3a5e2b2e60356d620dc4f,2022-03-15 11:46:12
1,baa20456f723b85f6749489ceaff6c5d,4f82f297f1ed0a9aa499f5bf5bc6b6fb,2022-03-15 11:46:14
2,62d1eaadbf019aaeefadea2cbd15d676,38ac6222d194663927310d990047a74d,2022-03-15 11:46:16
3,a1a0aefd96fb3c5f4e4ca3d74c215c7f,05de7386213e736a47d04b1874f3fb34,2022-03-15 11:46:18
4,c4695bb783ac2a192a014552c3af65a8,9d37504a24d2a13af20e93eac2ff9466,2022-03-15 11:46:36
...,...,...,...
664956,454436680ed71dc5c82939640b0c4708,e5fbe5db97dc3362772211f8131eca66,2022-05-04 04:38:29
664957,be1966b756bd772aa02629c7dd5a4b9f,a362ec513ce9f79d2ae1417ebd892e45,2022-05-04 04:33:49
664958,a9270c1ff90a6cdfa0baabfa1d3aeca8,5eb76663b061457a5f2e48365554ab4d,2022-05-04 04:37:16
664959,8c204ce0a22a4cdee46aa4bc959a3ce5,ce8c0a3ac6615393f1e7884cdcc9282c,2022-05-04 04:38:52
664960,6e53e38ff435aacd3bce63822381902f,a9d7851de06faff82e00efa238f45be9,2022-05-04 02:44:50

In [12]:
transfer

,receiver,sender,transID,transStatus,amount,deviceID,platform,reqDate
0,35ecf363a0db8a7f74d3683a3be081d4,0603beedc2ecf6abc5d712ddc739724f,af95c5d01417e339cbf6aa5358fa264c,1,10000,A34CF1C1996615AB953A3263350F0F23,platform3,2022-03-02 00:00:16
1,dcdc146880852d0e88eacd95f611a73d,cce517dedfd140fe44489d7658bead03,b9293d87c906a0a51e94eafadbc96bc5,1,30000,224DD5A1F61DE5547C61C4EADCBEEC35,platform3,2022-03-02 00:01:08
2,0889b1ba3ffdcfd2f7c4c1c4cf1a5526,08e46b1044d2df84664537a667f939b8,6a9e330061c77d0280f2f9dd17e6f1a4,1,50000,B26C087A-7D15-4D03-B5BC-BEFD56A951F5,platform1,2022-03-02 00:01:13
3,f14767f54aa34d3dbc6cf14e5ba8f215,814d10a5c6a55f033617b6ffd2d43e7d,200b9279737687e1199086557c7e581d,1,250000,03FC3EFB-D6D8-4678-A72E-7CFDAA0E8CA0,platform1,2022-03-02 00:01:18
4,0889b1ba3ffdcfd2f7c4c1c4cf1a5526,3b38e89e608b689254bd69c6da3481ac,997e9e4ae78228081f843d4fc26e1361,1,100000,a847161bd5ed4f01,platform2,2022-03-02 00:01:58
...,...,...,...,...,...,...,...,...
1971433,ab83f0237d476c61eec07b5dbc0af709,b0b70271212479167d533c1180681cd6,1fa7f02091cb852bcc6d964daa39c690,1,15000,D17760632DBFDFEF12C0740172BD7410,platform3,2022-05-31 23:59:42
1971434,ab83f0237d476c61eec07b5dbc0af709,fd859ba1b70cd4ac5ac937f7a3ef371a,36e198ebaa7907da72860e1c2197e917,1,50000,F824C9F9FE70E7261B445A97F4F21F83,platform3,2022-05-31 23:59:46
1971435,2a2f3b8ea17082bebc5a4c3e2f7ecf5a,d9b671e15b1cc0504a8006b696ff3d1b,5ec470affa2257a48e9280b18767b283,1,10000,32497F57-02EA-47B1-8A67-DC2D96F71933,platform1,2022-05-31 23:59:53
1971436,923490eb99cfbddf29354951c8354c25,1e7b07ed90c41319f87fb17726f470bf,eefb4c159836a485b13257f3e04cf5d7,1,100000,6a806fe07f13554e,platform2,2022-05-31 23:59:54
1971437,2f7ab40623f014354fc66d255f512c62,a5bb78bf51901c631993ec3fe7d4b244,47e7360c2a8fe31b44a45f92a3f8ac08,1,3011,bc3e5ee35a8b728d,platform2,2022-05-31 23:59:57

In [13]:
user_profile

,userID,created_date,phone_provider,usergender
0,c0f75446daa8140e9ef90fb6c73e3a03,12/10/2015,7653,1
1,bfd4558e9fba3d36c1c0fdefc6ac2221,2/20/2016,7630,1
2,8d53ea3f700ecc6bea5811c987470ed6,2/25/2016,7050,1
3,48b1f4c7b01b16a1fb0b1c23ab29d702,4/3/2016,7589,1
4,3c73d35390202fb29d855d5a7a806363,4/8/2016,7052,1
...,...,...,...,...
403460,35aa20c8f6dfd30e5b4244df601b9328,1/30/2022,7022,0
403461,ac9e18b3bbe99cc32bba12986a8964ee,1/30/2022,7605,0
403462,092c8ef59b670554a92cdca204e13cf1,1/30/2022,7,0
403463,1bcd00270e9d7dd45f263335de19860a,1/31/2022,7,0
403464,703f711594d58c4725a287da424845d5,1/31/2022,7006,0

### Xử lý bảng appid_info

In [14]:
appid_info.isna().sum()

appID           0
appName         0
reportCat       0
reportSubCat    0
dtype: int64

In [15]:
appid_info.duplicated().sum()

np.int64(0)

### Xử lý bảng campaign_info

In [16]:
campaign_info.isna().sum()

campaignID        0
promotionName     0
campaignCode      0
promotion_type    0
dtype: int64

In [17]:
campaign_info.duplicated().sum()

np.int64(0)

### Xử lý bảng map_card

In [18]:
map_card.isna().sum()

userID           0
bimID            0
bankname         0
reqDate          0
requestID        0
requestStatus    0
dtype: int64

In [19]:
map_card.duplicated().sum()

np.int64(416)

In [20]:
# Xóa các dòng trùng hoàn toàn
map_card = map_card.drop_duplicates()

# Kiểm tra lại sau khi xóa
print("Số dòng sau khi drop:", len(map_card))

Số dòng sau khi drop: 162875

In [21]:
print("Giá trị và tần suất trong cột requestStatus:")
print(map_card['requestStatus'].value_counts(dropna=False))

Giá trị và tần suất trong cột requestStatus:
requestStatus
 1        107716
-312       34562
-275       11390
-284        4421
-10335      3366
-10341       641
-200         416
-319         153
-100         143
-10334        27
 0            18
-10325        12
-10351         4
-10347         3
-317           2
-10352         1
Name: count, dtype: int64

In [22]:
map_card['requestStatus'] = (map_card['requestStatus'] == 1).astype(int)
print("\nGiá trị requestStatus sau chuẩn hóa:")
print(map_card['requestStatus'].value_counts(dropna=False))

Giá trị requestStatus sau chuẩn hóa:
requestStatus
1    107716
0     55159
Name: count, dtype: int64

### Xử lý bảng user_profile

In [23]:
user_profile.isna().sum()

userID            0
created_date      0
phone_provider    0
usergender        0
dtype: int64

In [24]:
user_profile.duplicated().sum()

np.int64(0)

### Xử lý bảng referral_history

In [25]:
referral_history.isna().sum()

userID       0
refereeId    0
reqDate      0
dtype: int64

In [26]:
referral_history.duplicated().sum()

np.int64(18)

In [27]:
# Xóa các dòng trùng hoàn toàn
referral_history = referral_history.drop_duplicates()

# Kiểm tra lại sau khi xóa
print("Số dòng sau khi drop:", len(referral_history))

Số dòng sau khi drop: 664943

### Xử lý bảng transfer

In [28]:
transfer.isna().sum()

receiver           0
sender             0
transID            0
transStatus        0
amount             0
deviceID       98683
platform        1895
reqDate            0
dtype: int64

In [29]:
print("Giá trị và tần suất trong cột platform:")
print(transfer['platform'].value_counts(dropna=False))

Giá trị và tần suất trong cột platform:
platform
platform1    824569
platform3    681114
platform2    463860
NaN            1895
Name: count, dtype: int64

In [30]:
# Điền bằng giá trị xuất hiện nhiều nhất
most_common_platform = transfer['deviceID'].mode()[0]
transfer['deviceID'] = transfer['deviceID'].fillna(most_common_platform)

In [31]:
# Điền bằng giá trị xuất hiện nhiều nhất
most_common_platform = transfer['platform'].mode()[0]
transfer['platform'] = transfer['platform'].fillna(most_common_platform)

In [32]:
transfer.isna().sum()

receiver       0
sender         0
transID        0
transStatus    0
amount         0
deviceID       0
platform       0
reqDate        0
dtype: int64

In [33]:
transfer.duplicated().sum()

np.int64(0)

### Xử lý bảng transaction

In [34]:
transaction.isna().sum()

transID                   0
userID                    0
appID                458896
transStatus               0
deviceID             622783
platform             458896
osVer               1357405
deviceModel         1204159
userChargeAmount          0
amount                    0
reqDate                   0
campaignID                0
discountAmount            0
cashbackTime         775943
dtype: int64

In [35]:
# Xóa cột osVer khỏi DataFrame
transaction = transaction.drop(columns=['osVer'])

# Kiểm tra lại để đảm bảo cột đã bị xóa
print(transaction.columns)

Index(['transID', 'userID', 'appID', 'transStatus', 'deviceID', 'platform',
       'deviceModel', 'userChargeAmount', 'amount', 'reqDate', 'campaignID',
       'discountAmount', 'cashbackTime'],
      dtype='object')

In [ ]:
# Xóa cột deviceModel khỏi DataFrame
transaction = transaction.drop(columns=['deviceModel'])

# Kiểm tra lại để đảm bảo cột đã bị xóa
print(transaction.columns)

Index(['transID', 'userID', 'appID', 'transStatus', 'deviceID', 'platform',
       'userChargeAmount', 'amount', 'reqDate', 'campaignID', 'discountAmount',
       'cashbackTime'],
      dtype='object')

In [37]:
transaction['appID'] = transaction['appID'].fillna('unknown')

In [38]:
transaction['cashbackTime'] = transaction['cashbackTime'].fillna(transaction['reqDate'])

In [39]:
print("Giá trị và tần suất trong cột platform:")
print(transaction['platform'].value_counts(dropna=False))

Giá trị và tần suất trong cột platform:
platform
NaN          458896
platform3    345557
platform1    308180
platform2    244772
Name: count, dtype: int64

In [40]:
# 1️⃣ Tạo bảng map giữa sender và platform trong bảng transfer
platform_map = (
    transfer
    .dropna(subset=['platform'])  # chỉ lấy dòng có platform
    .groupby('sender')['platform']
    .agg(lambda x: x.mode()[0] if not x.mode().empty else None)  # lấy platform phổ biến nhất của user
    .reset_index()
)

# 2️⃣ Đổi tên để join dễ hơn
platform_map.rename(columns={'sender': 'userID', 'platform': 'platform_from_transfer'}, inplace=True)

# 3️⃣ Join với transaction
transaction = transaction.merge(platform_map, on='userID', how='left')

# 4️⃣ Fill platform trong transaction bằng dữ liệu từ transfer (nếu thiếu)
transaction['platform'] = transaction['platform'].fillna(transaction['platform_from_transfer'])

# 5️⃣ Xóa cột phụ sau khi fill xong
transaction.drop(columns=['platform_from_transfer'], inplace=True)

In [41]:
transaction['platform'] = transaction['platform'].fillna('unknown')

In [42]:
print("Giá trị và tần suất trong cột platform:")
print(transaction['platform'].value_counts(dropna=False))

Giá trị và tần suất trong cột platform:
platform
platform3    557999
platform1    364994
platform2    314757
unknown      119655
Name: count, dtype: int64

In [43]:
# 1️⃣ Tạo mapping giữa sender và deviceID từ bảng transfer
device_map = (
    transfer
    .dropna(subset=['deviceID'])  # chỉ lấy dòng có deviceID
    .groupby('sender')['deviceID']
    .agg(lambda x: x.mode()[0] if not x.mode().empty else None)  # lấy deviceID phổ biến nhất nếu có nhiều
    .reset_index()
)

# 2️⃣ Đổi tên cột để join dễ hơn
device_map.rename(columns={'sender': 'userID', 'deviceID': 'deviceID_from_transfer'}, inplace=True)

# 3️⃣ Join với transaction
transaction = transaction.merge(device_map, on='userID', how='left')

# 4️⃣ Fill giá trị thiếu trong transaction.deviceID bằng deviceID lấy từ transfer
transaction['deviceID'] = transaction['deviceID'].fillna(transaction['deviceID_from_transfer'])

# 5️⃣ Xóa cột phụ sau khi fill xong
transaction.drop(columns=['deviceID_from_transfer'], inplace=True)

# 6️⃣ Kiểm tra lại kết quả
print("Số lượng giá trị thiếu deviceID sau khi fill:", transaction['deviceID'].isna().sum())

Số lượng giá trị thiếu deviceID sau khi fill: 200071

In [44]:
transaction['deviceID'] = transaction['deviceID'].fillna('unknown')

In [45]:
transaction.isna().sum()

transID             0
userID              0
appID               0
transStatus         0
deviceID            0
platform            0
userChargeAmount    0
amount              0
reqDate             0
campaignID          0
discountAmount      0
cashbackTime        0
dtype: int64

In [46]:
transaction.duplicated().sum()

np.int64(7)

In [47]:
# Xóa các dòng trùng hoàn toàn
transaction = transaction.drop_duplicates()

# Kiểm tra lại sau khi xóa
print("Số dòng sau khi drop:", len(transaction))

Số dòng sau khi drop: 1357398

In [48]:
print("Giá trị và tần suất trong cột platform:")
print(transaction['transStatus'].value_counts(dropna=False))

Giá trị và tần suất trong cột platform:
transStatus
 1       1255083
-217       51360
-332       21209
-333       16053
-358        5477
-357        1482
-68         1435
-361        1253
-348         964
-994         939
-54          603
-356         497
-352         473
-268         196
-1343         77
-359          47
-309          47
-200          45
-340          42
-87           24
-63           18
-59           18
-239          17
-92           16
-16            5
-998           3
-119           3
-355           3
-308           3
-269           3
-1333          1
-316           1
-1342          1
Name: count, dtype: int64

In [49]:
transaction['transStatus'] = (transaction['transStatus'] == 1).astype(int)
print("\nGiá trị transStatus sau chuẩn hóa:")
print(transaction['transStatus'].value_counts(dropna=False))

Giá trị transStatus sau chuẩn hóa:
transStatus
1    1255083
0     102315
Name: count, dtype: int64

In [50]:
appid_info.to_csv('../cleaned_data/appid_info_clean.csv', index=False)
transaction.to_csv('../cleaned_data/transaction_clean.csv', index=False)
campaign_info.to_csv('../cleaned_data/campaign_info_clean.csv', index=False)
map_card.to_csv('../cleaned_data/map_card_clean.csv', index=False)
referral_history.to_csv('../cleaned_data/referral_history_clean.csv', index=False)
transfer.to_csv('../cleaned_data/transfer_clean.csv', index=False)
user_profile.to_csv('../cleaned_data/user_profile_clean.csv', index=False)

print("✅ Đã lưu toàn bộ file cleaned vào thư mục cleaned_data/")

✅ Đã lưu toàn bộ file cleaned vào thư mục cleaned_data/